<h1>Hi <%= @user.user_name %></h1>

<h3>Logged in from:</h3>
<ul>
  <% @user.sessions.each do |session| %>
    <li><%= session.browser %><%= button_to "delete",
            delete_session_path(session),
            method: :delete %></li>
  <% end %>
</ul>
